.selector {
  width: 220px;
  height: 35px;

  display: flex;

  border: 3px solid var(--preto);
  border-radius: 20px;
  overflow: hidden;

  background-color: var(--branco);
}

/* base button */
.selector-field {
  flex: 1;

  border: none;
  background-color: var(--branco);

  font-size: 0.8rem;
  font-weight: 700;

  font-family: var(--fonte-ubuntu);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* middle line */
.selector-field.left {
  border-right: 3px solid var(--preto);
}

/* active state */
.selector-field.active {
  background-color: var(--azul-menos-claro); 
  color: var(--branco);
}